<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/aula02produto/src/test/java/aula02produto/JPAProdutoManagerTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="aula02produto.JPAProdutoManagerTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="aula02produto"/>
</launchConfiguration>
